# Ignored folders
__pycache__
Downloads
Speedmeasure

# Ignored files (wildcard)
*.pkl
*.raw
*.yuv
*.bgr
*.jpg
*.jpeg
*.png
*.h264
*.code-workspace
.vscode/settings.json

# Ignored files (specific)







# Ignore Pis Home-content
# Folders
_Old PiCam1 Stuff
.cache
.config
.dotnet
.local
.vscode-server

# Files
.mv2Samba.sh
.bash_history
.bash_logout
.profile
.wget-hsts
rPiHQCamServer2.log
*/pi.code-workspace